<yandex>
    <remote_servers>
        <cluster_1>
            <shard>
                <replica>
                    <host>clickhouse-1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse-2</host>
                    <port>9000</port>
                </replica>
            </shard>
        </cluster_1>
    </remote_servers>

    <zookeeper>
        <node>
            <host>zookeeper-host</host>
            <port>2181</port>
        </node>
    </zookeeper>
</yandex>
